
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
}
ul{
    list-style-type: square;
    font-family: Arial, Helvetica, sans-serif;
    color:coral ;
}
ol{
    list-style-type: lower-greek;
    font-family: Arial, Helvetica, sans-serif;
    color: mediumslateblue;
}


td{
    font-style:normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkgoldenrod;
    
}
h1{
    color:orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h2{
    color:greenyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
}
h3{
    color:aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    border-radius: 5%;
}



label{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

body{
    background-repeat: no-repeat;
    background-attachment:fixed ;
    background-size: auto;
}
span{
    background-color: white;
}
